.root {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: #fff;
  border-bottom: 2px solid black;
}

.wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.tokenName {
  margin-right: 8px;
  font-weight: 600;
}