.root {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  border-bottom: 2px solid black;
}

.wrapper {
  padding: 4px 0;
  display: flex;

  @media (--tablet-large) {
    padding: 8px 0;
  }
}

.item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';
    display: block;
    margin-right: 8px;
    margin-left: 8px;
    width: 6px;
    height: 6px;
    background-color: #333333;
    border-radius: 50%;
  }
}

.tokenName {
  margin-right: 8px;
  font-weight: 600;
}