:root {
  --min-height: 42px;
}

.root {
  padding: 24px 0;

  @media (--tablet-large) {
    padding: 48px 0;
  }
}

.chainItem {
  &:not(:first-child) {
    margin-top: 12px;

    @media (--tablet-large) {
      margin-top: 24px;
    }
  }
}

.chainTitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 24px;

  @media (--tablet-large) {
    font-size: 36px;
  }
}

.pool {
  display: flex;
  flex-direction: column;
  border: 2px solid #333333;

  &:not(:first-child) {
    margin-top: -2px;
  }
}

.poolWrapper {
  display: flex;
  align-items: center;
  background-color: var(--color-secondary);
  font-weight: 500;
}

.emptyWrapper {
  display: flex;
  border-top: 2px solid #333333;
}

.actionControl {
  padding: 0;
  font-size: 0;
  border: none;
  width: 40px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.actionIcon {
  padding: 6px;
  width: 100%;
  height: 100%;
  transition: opacity .2s;

  &:hover {
    opacity: .3;
  }

  &_reverse {
    transform: rotate(180deg);
  }
}

.poolItemsList {
  overflow: hidden;

  &_closed {
    height: 0;
  }
}

.position {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-top: 2px solid #333333;

  &_active {
    font-weight: 500;
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: -2px 0px 0px 0px #333;

  @media (--desktop) {
    font-size: 18px;
  }
}

.part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 33.33%;
  flex-grow: 1;
  padding: 12px;
  box-sizing: border-box;

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    transform: translateX(-12px);
    background-color: #333333;
  }
}