.chainItem {
  &:not(:first-child) {
    margin-top: 24px;
  }
}

.chainTitle {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
}

.pool {
  border: 1px solid #333333;
  margin-top: -1px;
}

.poolTitle {
  padding: 12px;
  font-size: 18px;
  background-color: #fff;
}

.position {
  display: flex;
  height: 40px;
  background-color: #c1d8f0;
  border-top: 1px solid #333333;
}

.positionLink {
  width: 40px;
  height: 100%;
  font-size: 0;
}

.content {
  padding-left: 12px;
  display: flex;
  align-items: center;
  font-size: 16px;
  border-left: 1px solid #333333;
}

.separator {
  margin-right: 8px;
  margin-left: 8px;
  width: 6px;
  height: 6px;
  background-color: #333333;
  border-radius: 50%;
}