.root {
  padding: 48px 0;
}

.chainItem {
  &:not(:first-child) {
    margin-top: 24px;
  }
}

.chainTitle {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 32px;
}

.pool {
  border: 2px solid #333333;

  &:not(:first-child) {
    margin-top: -2px;
  }
}

.poolWrapper {
  display: flex;
  background-color: var(--color-secondary);
  font-weight: 500;
}

.emptyWrapper {
  display: flex;
  border-top: 2px solid #333333;
}

.actionControl {
  padding: 0;
  font-size: 0;
  border: none;
  width: 40px;
  height: 40px;
  box-shadow: 2px 0px 0px 0px #333;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.actionIcon {
  padding: 6px;
  width: 100%;
  height: 100%;
  transition: opacity .2s;

  &:hover {
    opacity: .3;
  }

  &_reverse {
    transform: rotate(180deg);
  }
}

.poolItemsList {
  overflow: hidden;

  &_closed {
    height: 0;
  }
}

.position {
  display: flex;
  background-color: #fff;
  border-top: 2px solid #333333;

  &_active {
    font-weight: 500;
  }
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.part {
  position: relative;
  display: flex;
  align-items: center;
  width: 33.33%;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 12px;
  box-sizing: border-box;

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #333333;
  }
}

.dot {
  margin-right: 8px;
  margin-left: 8px;
  width: 6px;
  height: 6px;
  background-color: #333333;
  border-radius: 50%;
}