:root {
  --form-width: 540px;
  --text-width: 440px;
  --btn-width: 140px;
}

.root {
  padding-top: 72px;
  padding-bottom: 24px;
  margin: 0 auto;
  width: var(--form-width);
  max-width: 100%;

  &:last-child {
    padding-bottom: 48px;

    @media (--tablet-large) {
      padding-bottom: 96px;
    }
  }

  @media (--tablet-large) {
    padding-top: 96px;
    padding-bottom: 48px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 8px;
  font-size: 32px;

  @media (--tablet-large) {
    margin-bottom: 16px;
    font-size: 38px;
  }
}

.subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;

  @media (--tablet-large) {
    font-size: 22px;
  }
}

.title,
.subtitle {
  max-width: var(--text-width);
}

.controlsWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 16px;
  width: 100%;
  justify-content: center;

  @media (--tablet-large) {
    flex-direction: row;
    margin-top: 22px;
    margin-bottom: 30px;
  }
}

.inputWrapper {
  position: relative;
  margin-bottom: 8px;
  width: 100%;
  max-width: 370px;
  flex-grow: 1;

  @media (--tablet-large) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.input {
  position: relative;
  padding: 12px;
  font-size: 14px;
  cursor: text;
  width: 100%;

  &::placeholder,
  &::-webkit-input-placeholder {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    opacity: .2;
    transform: translateY(-50%);
  }

  &:focus::placeholder {
    opacity: 0;
  }
}

.inputStatus {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;

  &_visible {
    display: flex;
  }
}

.button {
  padding: 12px 32px;
  width: var(--btn-width);
  cursor: pointer;

  @media (--tablet-large) {
    width: auto;
  }
}

.button,
.input {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  transition-property: background-color;
  transition-duration: .2s;
  outline: none;
  user-select: none;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  &_disabled {
    opacity: .05;
    cursor: default;
  }
}